<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="GDRFA_SecurityId" value="test123" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetSearchPersonsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="GetSearchPersonsSoap1" />
        <binding name="GetPersonInfoWithPhotoExSoap" />
        <binding name="GetPersonDetailsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://testegovservices.dnrd.ae/dnrdmedwebservices/GetSearchPersons.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetSearchPersonsSoap"
        contract="GDRFA_GetSearchPersons.GetSearchPersonsSoap" name="GetSearchPersonsSoap" />
      <endpoint address="http://testegovservices.dnrd.ae/DNRDMedWebServices/GetPersonInfoWithPhotoEx.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetPersonInfoWithPhotoExSoap"
        contract="GetPersonInfoWithPhotoEx.GetPersonInfoWithPhotoExSoap"
        name="GetPersonInfoWithPhotoExSoap" />
      <endpoint address="http://testegovservices.dnrd.ae/DNRDMedWebServices/GetPersonDetails.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetPersonDetailsSoap"
        contract="GetPersonDetails.GetPersonDetailsSoap" name="GetPersonDetailsSoap" />
    </client>
  </system.serviceModel>
</configuration>
